/* ————————————————— ‡ ————————————————— GLOBAL Styles —— */
:root {
  --clr-white: #fff;
  --clr-grey: #aaaaaa;
  --clr-black: #000;
  --clr-green: #20fb08;
  --clr-yellow: #eef52b;
  --clr-orange: #ff7e3d;
  --clr-red: #fc2e2e;
  --clr-pink: #f375cf;
  --clr-blue: #09163d;
  --clr-sub: rgba(45, 245, 165, 0.3);
  --clr-res: rgba(255, 74, 74, 0.3);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.5rem;
  font-family: 'Trispace', sans-serif;
  background-color: var(--clr-black);
  color: var(--clr-white);
}
h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', cursive;
}
h1 {
  color: var(--clr-green);
}
h2 {
  color: var(--clr-pink);
}
p {
  color: var(--clr-yellow);
  text-align: center;
  padding: 1rem;
}

/* ————————————————— ‡ ————————————————— LOADER Styles —— */
.loader {
  margin: 5.8rem auto;
  width: 13rem;
  height: 13rem;
  border: 1.5rem dotted var(--clr-pink);
  border-bottom: 1.5rem dotted var(--clr-green);
  border-radius: 100%;
  animation: spin .9s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ————————————————— ‡ ————————————————— NAV Styles —— */
.circle {
  margin: .7rem 2rem;
  box-shadow: 0 0 20px 5px var(--clr-pink);
  position: fixed;
  height:8rem;
  width: 8rem;
  border-radius: 50%;
}
nav {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  border-bottom: 2px solid var(--clr-white);
  border-radius: 18%;
  padding: 1rem;
}
nav ul {
  display: flex;
  flex-direction: column;
}
.nav-li {
  display: flex;
  justify-content: center;
}
a {
  color: var(--clr-yellow);
  text-decoration: none;
}
a:hover {
  color: var(--clr-pink);
}
nav a.active {
  color: var(--clr-white);
  text-decoration: line-through;
}

/* ————————————————— ‡ ————————————————— INDEX Styles —— */
.bg-image {
  background-color: var(--clr-blue);
  background-image: url("/img/loginImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  background-blend-mode: multiply;
}
.container {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-head {
  margin-top: 2rem;
  text-align: center;
  font-size: 4rem;
  color: var(--clr-white);
}
.character-cards {
  width: 60%;
  margin: 2rem;
  padding: 1rem;
  color: var(--clr-pink) ;
  border: .2rem solid var(--clr-grey);
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.name {
  font-size: 3.5rem;
}
.id {
  font-size: 2.5rem;
}
.att {
  margin-bottom: 2rem;
}

/* ————————————————— ‡ ————————————————— DETAIL Styles —— */
.name-tag {
  padding-top: 6rem;
  font-size: 5rem;
}
.id-tag {
  padding-top: 3rem;
  font-size: 3rem;
}
.de-tag {
  padding: 3rem;
  font-size: 2rem;
  font-family: 'Trispace', sans-serif;
}

/* ————————————————— ‡ ————————————————— CONTACT Styles —— */
form {
  display: flex;
  flex-direction: column;
}
.all {
  font-size: 1.5rem;
  width: 50vw;
  color: var(--clr-white);
  border: 1px solid var(--clr-grey);
  border-radius: 10px;
  padding: 1.2rem;
  margin-top: 1rem;
}
input {
  font-family: 'Trispace', sans-serif;
  background: none;
  margin-bottom: 1.5rem;
}
button {
  font-family: 'Trispace', sans-serif;
  text-transform: uppercase;
  background-color: var(--clr-sub);
}
.form-error {
  display: none;
  color: var(--clr-red);
  margin: 0;
}
.reset {
  background-color: var(--clr-res);
  padding: .8rem;
  font-size: 1.2rem;
  width: 30vw;
  display: flex;
  margin: 1.5rem auto;
}