/* 
——————————————————————————— ‡ ——————————————————————————— Global Styles —— */
:root {
  --clr-white: #fff;
  --clr-grey: #aaaaaa;
  --clr-black: #000;
  --clr-green: #1eb2d0;
  --clr-yello: #eef52b;
  --clr-orange: #e46a2d;
  --clr-pink: #f375cf;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.5rem;
  font-family: 'Dosis', sans-serif;
  background-color: var(--clr-black);
  color: var(--clr-yello);

}
h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', cursive;
}
main h1 {
  text-align: center;
  font-size: 4rem;
  color: var(--clr-white);
}
p {
  text-align: center;
  padding: 2rem;
}
/* 
——————————————————————————— ‡ ——————————————————————————— Shared Styles —— */
.loader {
  width: 13rem;
  height: 13rem;
  border: 1.5rem dotted var(--clr-pink);
  border-bottom: 1.5rem dotted var(--clr-green);
  border-radius: 100%;
  animation: spin .9s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 
——————————————————————————— ‡ ——————————————————————————— Index Styles —— */
.container, .character-cards {
  margin: 2rem;
  padding: 2rem;
  color: var(--clr-pink) ;
  border: .2rem solid var(--clr-grey);
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* 
——————————————————————————— ‡ ——————————————————————————— Detail Styles —— */



/* 
——————————————————————————— ‡ ——————————————————————————— Contact Styles —— */